:root {
--Dark-Slate-Grey: hsl(234, 29%, 20%);
--Charcoal-Grey: hsl(235, 18%, 26%);
--Grey: hsl(231, 7%, 60%);
--White: hsl(0, 0%, 100%);
--Tomato: hsl(4, 100%, 67%);
}


/*css rest*/

*,*::before  *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*end of css rest*/

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    font-family: "Roboto", serif;
}

.container {
    max-width: 23.438rem;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


main {
    padding: 1.25rem 1.563rem;
}

h1{
    font-size: 2.5rem;
    color: var(--Dark-Slate-Grey);
    font-weight: 800;
    margin-top: 0.438rem;
    margin-bottom: 0.813rem;
}

p {
    font-size: 1rem;
    color: var(--Dark-Slate-Grey);
    font-weight: 400;
}

ul {
    padding: 0.813rem 0rem 1.563rem 0rem;
    list-style-type: none;
}

li::before {
    content: url(images/icon-list.svg);
    margin-right: 0.625rem;
    margin-bottom: 0.313rem;
    position: relative;
    top: 0.188rem;
}

li {
    margin-top: 0.625rem;
    font-size: 1rem;
    display: flex;
    align-items: flex-start;
    color: var(--Dark-Slate-Grey);
    font-weight: 400;
}

label {
    font-size: 0.813rem;
    color: var(--Charcoal-Grey);
    font-weight: 700;
}

.form-part {
  display: flex;
  justify-content: space-between;
}

.error-paragraph {
    display: none;
    font-size: 0.813rem;
    color: var(--Tomato);
    font-weight: 700;
}

.email-input {
    width: 90%;
    border-radius: 0.375rem;
    background-color: var(--White);
    border: 1px solid var(--Grey);
    color: var(--Grey);
    padding: 0.813rem 0.938rem 0.813rem 1rem;
    margin-bottom: 1.25rem;
    margin-top: 0.313rem;
    font-size: 0.938rem;
    cursor: pointer;
}

.email-input-valid {
    border: 1px solid var(--Tomato);
    background-color: hsla(4, 100%, 67%, 0.525); 
    color: var(--Tomato);
}

.submit-button {
    width: 100%;
    border-radius: 0.375rem;
    background-color: var(--Charcoal-Grey);
    border: 1px solid var(--Charcoal-Grey);
    color: var(--White);
    padding: 0.813rem;
    font-size: 0.938rem;
    font-weight: 400;
    cursor: pointer;
}

.success-container {
    display: none;
    flex-direction: column;
    border-radius: 0.938rem;
    max-width: 23.438rem;
    flex-direction: column;
    padding: 1.5rem;
    color: var(--Charcoal-Grey);
    background-color: var(--White);
}

.dismiss-button {
    width: 100%;
    border-radius: 0.375rem;
    background-color: var(--Dark-Slate-Grey);
    border: 1px solid var(--Dark-Slate-Grey);
    color: var(--White);
    padding: 0.813rem;
    font-size: 0.938rem;
    font-weight: 400;
    cursor: pointer;
}

@media only screen and (min-width:59.25rem) {
     body {
        background-color: var(--Dark-Slate-Grey);
        justify-content: center;
     }
    .container {
        max-width: 58rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40rem;
        height: auto;
        border-radius: 1.563rem;
    }
    .picuture-part {
        grid-column: 2/3;
        grid-row: -2/-1;
    }

    main {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .img-responsive {
        padding-left: 2.5rem;
    }

    .submit-button {
        width: 98%;
        transition: transform 450ms linear;
        will-change: transform;
    }
    
    .submit-button:hover {
        background-color: var(--Tomato);
        transform: scale(1.1);
        border: 1px solid var(--Tomato);
        border-radius: 0.375rem;
        box-shadow: var(--Tomato) 0px 30px 60px -25px, var(--Tomato) 0px 18px 36px -18px;
    }

    main {
        padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    }

    h1 {
        font-size: 3.375rem;
    }

    p, li {
        font-size: 1.125rem;
    }

    .success-container {
     padding: 1.938rem;
    }

    .error-paragraph {
        margin-right: 0.625rem;
    }

    .heading-container {
        font-size: 2.813rem;
        line-height: 1.1;
        margin-top: 1.563rem;
        margin-bottom: 1.188rem;
    }

    .success-paragraph {
        font-size: 0.938rem;
        font-weight: 400;
        margin-bottom: 1.875rem;
    }

    .dismiss-button {
        margin-bottom: 1.875rem;
    }
}